# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# Local SQLite DB
data/
*.db

# Env
.env

# Frontend
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp
.DS_Store
